@charset "UTF-8";

/* ----------------------------------------------------------
  Upload media
---------------------------------------------------------- */

.wpu-taxometas-upload-wrap {
    z-index: 1;
    position: relative;
}

.wpu-taxometas-upload-preview {
    display: block;
    width: auto;
    height: auto;
    margin-bottom: 5px;
    max-height: 140px;
    max-width: 170px;
}

.wpu-taxometas-upload-wrap .x {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    background-color: #333;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.wpu-taxometas-upload-wrap .x:hover {
    opacity: 0.75;
}

/* ----------------------------------------------------------
  Input radio
---------------------------------------------------------- */

.wpu-taxometas-input-radio {
    margin-right: 15px;
}

/* ----------------------------------------------------------
  Columns
---------------------------------------------------------- */

.wputaxometas-col-img {
    height: auto;
    max-width: 100%;
}

.wputaxometas-col-color {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    vertical-align: -2px;
}

.wputaxometas-hr {
    border-width: 1px 0 0;
    border-top: 1px solid #e8e8e8;
}
